<h2>{{ agendaDateFormatted }}</h2>
<mat-form-field appearance="fill">
  <mat-label>Reservar / Cancelar Reserva</mat-label>
  <mat-select [(ngModel)]="reservationType">
    <mat-option value="RESERVAR">RESERVAR</mat-option>
    <mat-option value="CANCELAR_RESERVA">CANCELAR RESERVA</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field appearance="fill">
  <mat-label>Nombre</mat-label>
  <input matInput [(ngModel)]="name" />
</mat-form-field>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Reservar</button>
</mat-dialog-actions>

