.oval-logo {
  width: 300px; /* Adjust the width as needed */
  height: 300px; /* Adjust the height as needed */
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
