<h2>{{ agendaDateFormatted }}</h2>
<mat-form-field>
  <mat-label>Reservar</mat-label>
  <mat-select [(ngModel)]="reservationType">
    <mat-option [value]="option" *ngFor="let option of reservationTypeOptions()">{{ option }}</mat-option>
  </mat-select>
</mat-form-field>

<ng-container>
  <mat-form-field>
    <mat-label>Nombre</mat-label>
    <input matInput [(ngModel)]="name"/>
  </mat-form-field>
</ng-container>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="onCancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="onSubmit()">Confirmar</button>
</mat-dialog-actions>

