<div class="table-container" *ngIf="agenda">
  <table mat-table [dataSource]="agenda.availableHours" class="mat-elevation-z8">

    <ng-container *ngFor="let hour of agenda.availableHours" [matColumnDef]="hour.id">
      <th mat-header-cell *matHeaderCellDef>{{ hour.from }}:00 - {{ hour.to }}:00</th>
      <td mat-cell *matCellDef="let element">
        <div *ngIf="element.id === hour.id">
          <div *ngFor="let player of getPlayerNamesForHour(element)">{{ player }}</div>
        </div>
      </td>
    </ng-container>

    <!-- Define header row with dynamic columns -->
    <tr mat-header-row *matHeaderRowDef="getColumnsToDisplay()"></tr>

    <!-- Define data rows with dynamic columns -->
    <tr mat-row *matRowDef="let row; columns: getColumnsToDisplay();">{{ agenda.availableHours }}</tr>

  </table>
</div>
