

td, th {
  padding: 8px;
  text-align: center;
}

/* agenda-table.component.css */

.table-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;

  border: 1px solid rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 10px; /* Optional: Add some space between the header and the table */
  color: black;
}
